@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900

:root {
    --cor-de-fundo: #1E1E1E;
    --verde:#6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #rbga (58,55,94,0.5);
}

body {
    background-color:var(--cor-de-fundo) ;
    color: var(--branco);
    font-family: Exibição Playfair;
}

.botao{
    font-family: Exibição Playfair;
    background-color: var(--botao-inativo);
    color: var(--branco);
    font-size: 18px;
    padding: 1em;
}

.titulo-principal{
    font-size: 32px;
}